[Desktop Entry]
Name=AustraliaCash Core
Comment=Connect to the AustraliaCash P2P Network
Comment[de]=Verbinde mit dem AustraliaCash peer-to-peer Netzwerk
Comment[fr]=AustraliaCash, monnaie virtuelle cryptographique pair à pair
Comment[tr]=AustraliaCash, eşten eşe kriptografik sanal para birimi
Exec=australiacash-qt %u
Terminal=false
Type=Application
Icon=australiacash128
MimeType=x-scheme-handler/australiacash;
Categories=Office;Finance;
