[Desktop Entry]
Name=CyberDollar Core
Comment=Connect to the CyberDollar P2P Network
Comment[de]=Verbinde mit dem CyberDollar peer-to-peer Netzwerk
Comment[fr]=CyberDollar, monnaie virtuelle cryptographique pair à pair
Comment[tr]=CyberDollar, eşten eşe kriptografik sanal para birimi
Exec=cyberdollar-qt %u
Terminal=false
Type=Application
Icon=cyberdollar128
MimeType=x-scheme-handler/cyberdollar;
Categories=Office;Finance;
